
  .main-block .elements__div {
    font-size: 24px;
    background: -webkit-linear-gradient(#278ea5, #1f4287);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 50px;
    top: 80px;
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  .main-block .elements__div2 {
    font-size: 14px;
    background: -webkit-linear-gradient(#278ea5, #1f4287);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 20px;
    top: 150px;
    -webkit-transform: rotate(-30deg);
       -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
         -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }

  .main-block .elements__slash {
    font-size: 22px;
    background: -webkit-linear-gradient(#278ea5, #1f4287);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 30px;
    top: 150px;
    -webkit-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
         -o-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  .main-block .elements__braces {
    font-size: 18px;
    background: -webkit-linear-gradient(#278ea5, #1f4287);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 150px;
    top: 60px;
    -webkit-transform: rotate(-55deg);
       -moz-transform: rotate(-55deg);
        -ms-transform: rotate(-55deg);
         -o-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  .main-block .elements__number {
    font-size: 23px;
    background: -webkit-linear-gradient(#278ea5, #1f4287);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 280px;
    top: 110px;
  }

  .pricing .elements {
    display: none;
  }

  .pricing .elements__div {
    font-size: 36px;
    background: -webkit-linear-gradient(#21e6c1, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 100px;
    top: 50px;
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  .pricing .elements__div2 {
    font-size: 26px;
    background: -webkit-linear-gradient(#21e6c1, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 550px;
    top: 250px;
    -webkit-transform: rotate(-30deg);
       -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
         -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }

  .pricing .elements__slash {
    font-size: 43px;
    background: -webkit-linear-gradient(#21e6c1, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 150px;
    top: 450px;
    -webkit-transform: rotate(15deg);
       -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
         -o-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  .pricing .elements__braces {
    font-size: 40px;
    background: -webkit-linear-gradient(#21e6c1, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 150px;
    top: 80px;
    -webkit-transform: rotate(-55deg);
       -moz-transform: rotate(-55deg);
        -ms-transform: rotate(-55deg);
         -o-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  .pricing .elements__number {
    font-size: 46px;
    background: -webkit-linear-gradient(#21e6c1, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 400px;
    top: 200px;
  }

@media (min-width: 768px) {
  .main-block .elements__div {
    font-size: 36px;
    left: 100px;
    top: 50px;
  }

  .main-block .elements__div2 {
    font-size: 26px;
    left: 260px;
    top: 240px;
  }

  .main-block .elements__slash {
    font-size: 43px;
    left: 150px;
    top: 450px;
  }

  .main-block .elements__braces {
    font-size: 40px;
    right: 250px;
    top: 80px;
  }
  .main-block .elements__number {
    font-size: 46px;
    left: 400px;
    top: 200px;
  }

  .pricing .elements {
    display: block;
  }

  .pricing .elements__div {
    font-size: 20px;
    left: 100px;
    top: 70px;
  }

  .pricing .elements__div2 {
    font-size: 12px;
    left: 550px;
    top: 50px;
  }

  .pricing .elements__slash {
    font-size: 22px;
    left: 590px;
    top: 50px;
  }

  .pricing .elements__braces {
    font-size: 18px;
    right: 150px;
    top: 80px;
  }
  .pricing .elements__number {
    font-size: 25px;
    left: 400px;
    top: 40px;
  }
}

@media (min-width: 1025px) {
  .main-block .elements__div {
    font-size: 36px;
    left: 100px;
    top: 50px;
  }

  .main-block .elements__div2 {
    font-size: 26px;
    left: 550px;
    top: 250px;
  }

  .main-block .elements__slash {
    font-size: 43px;
    left: 150px;
    top: 450px;
  }

  .main-block .elements__braces {
    font-size: 40px;
    right: 150px;
    top: 80px;
  }
  .main-block .elements__number {
    font-size: 46px;
    left: 400px;
    top: 200px;
  }

  .pricing .elements__div {
    font-size: 36px;
    left: 80px;
    top: -30px;
  }

  .pricing .elements__div2 {
    font-size: 26px;
    left: 550px;
    top: 200px;
  }

  .pricing .elements__slash {
    font-size: 43px;
    right: 0;
    top: 150px;
  }

  .pricing .elements__braces {
    font-size: 40px;
    right: 150px;
    top: 80px;
  }
  .pricing .elements__number {
    left: 400px;
    top: 200px;
  }
}

