.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  margin: 0;
}

#footer-container {
  padding: 25px 20px 0;
}

.footer__contacts, .footer__actions {
  margin-top: 20px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  color: #c5cad7;
}

.footer__contacts .contacts {
  color: #8993ad;
}

.footer__contacts .contacts:not(:first-child){
  margin: 25px 0 0 ;
}

.footer__menu .footer__item {
  margin-bottom: 10px;
  line-height: 25px;
}

.footer__menu .footer__item a{
  font-size: 15px;
  color: #8993ad;
}

.footer__actions {
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}

.footer__actions .button-get-started {
  display: none;
}

.footer__actions .button-get-info {
    margin: 0;
  }

.social-networks {
  display: flex;
  flex-wrap: nowrap;
  margin: 50px 0 40px;
}

.sn-icon {
  display: inline-block;
  width: 38px;
  height: 33px;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: url('../img/icons.png');
  margin-right: 10px;
}

.contacts ion-icon {
  color: #071e3d;
  margin-right: 25px;
}

.vk {
  background-position: 1px 2px;
}

.fb {
  background-position: -50px 2px;
}

.tw {
  background-position: -105px 2px;
}

.im {
  background-position: -160px 2px;
}

.copyright {
  padding: 15px 0;
  display: block;
  background-color: #071e3d;
  color: white;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 768px) {
  #footer-container {
    padding: 100px 0 75px;
  }

    .footer__menu, .footer__contacts, .footer__actions {
    margin: 0;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
  }

  .footer__menu {
    font-size: 18px;
  }

  .footer__actions {
    max-width: 250px;
  }

  .footer__contacts .contacts:not(:first-child) {
    margin: 20px 0 0 ;
  }

  .footer__contacts .contacts {
    font-size: 25px;
  }

  .footer__actions .button-get-started {
    width: 250px !important;
    display: block;
    margin-right: 0;
  }

  .footer__actions .button-get-info {
    display: none;
  }

  .social-networks {
    margin: 30px 0 0;
  }

  .copyright {
    padding: 30px 0;
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  #footer-container {
    padding: 80px 0 75px;
  }
}

