.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 20px 0;
  margin: 0;
}


.footer__contacts, .footer__actions {
  margin-top: 20px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  color: #8993ad;
}

.footer__contacts ion-icon {
  color: #071e3d;
  margin-right: 25px;
}

.footer__contact:not(:first-child){
  margin: 25px 0 0 ;
}

.footer-menu__item {
  margin-bottom: 10px;
  line-height: 25px;
}

.footer-menu__item a{
  font-size: 15px;
  color: #8993ad;
}

.footer__actions {
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}

.footer__button-get-started {
  display: none;
}

.footer__button-get-info {
    margin: 0;
  }

.footer__social-networks {
  margin: 50px 0 40px;
}

.social-networks {
  display: flex;
  flex-wrap: nowrap;
}

.footer__social-networks > * {
  margin-right: 10px;
}

.social-networks__link {
  display: inline-block;
  width: 38px;
  height: 33px;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: url('../img/icons.png');

}

.social-networks__link--vk {
  background-position: 1px 2px;
}

.social-networks__link--fb {
  background-position: -50px 2px;
}

.social-networks__link--tw {
  background-position: -105px 2px;
}

.social-networks__link--im {
  background-position: -160px 2px;
}

.footer__copyright {
  padding: 15px 0;
  display: block;
  background-color: #071e3d;
  color: white;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer {
    padding: 100px 0 75px;
  }

    .footer-menu, .footer__contacts, .footer__actions {
    margin: 0;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
  }

  .footer-menu {
    font-size: 18px;
  }

  .footer__actions {
    max-width: 250px;
  }

  .footer__contact:not(:first-child) {
    margin: 20px 0 0 ;
  }

  .footer__contact {
    font-size: 25px;
  }

  .footer__button-get-started {
    width: 250px;
    display: block;
    margin-right: 0;
    border: 1px solid #21e6c1;
    background-color: #fff;
  }

  .footer__button-get-info {
    display: none;
  }

  .footer__social-networks {
    margin: 30px 0 0;
  }

  .copyright {
    padding: 30px 0;
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .footer {
    padding: 80px 0 75px;
  }
}

