.form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(187, 186, 186, 0.915);
  height: 100vh;
  width: 100%;
  align-items: center;
}

.form__container {
  max-width: 320px;
  height: auto;
  padding: 10px;
  background-color: white;
  margin: 0 auto;
  position: relative;
}

.form__title {
  margin-bottom: 30px;
}

.form__label {
  font-weight: bold;
}

.form__container input[type="text"],
.form__container input[type="email"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  background: #f1f1f1;
}

.form__container input[type="text"]:focus,
.form__container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form__close {
  display: block;
  background: url("/build/img/close.png") center no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.form__submit {
  background-color: #21e6c1;
  border: none;
  margin-top: 30px;
  color: #000;
  width: 280px;
  display: block;
  margin: 10px auto;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .form__container {
    padding: 30px 20px;
    max-width: 500px;
  }

  .form__close {
    top: 20px;
    right: 10px;
  }
}

.form--sended label,
.form--sended input,
.form--sended button {
  display: none;
}

.form__message {
  display: none;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.form--sended .form__message {
  display: block;
}

.form--sended .form__title {
  margin-right: 40px;
}
