/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import "header_styles.css";
@import "footer_styles.css";
@import "elements.css";

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
}

/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto-v20-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-italic.woff') format('woff'); /* Modern Browsers */
}
/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../fonts/roboto-v20-latin_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700italic.woff') format('woff'); /* Modern Browsers */
}

/*colors:
#071e3d - night blue
#1f4287 - dark blue
#278ea5 - gray blue
#21e6c1 - green*/


html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto ,sans-serif;
  background-color: #fbfbfb;
}

a {
  color: black;
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul{
  list-style: none;
  padding: 0;
}

p, h1 {
  margin: 0;
}

.container {
	min-width: 280px;
	max-width: 540px;
	margin: 0 auto;
}

/* MAIN */

.main-block{
  overflow-x: hidden;
  background-color: #fff;
}

#top-card {
  padding-left: 0;
  padding-right: 0;

}

.main-block__photo-container {
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url('../img/ellipse_blue.png') no-repeat center 90px;
  background-size: 540px;
  align-items: center;
}

.photo-container__main-photo {
  height: 320px;
  width: auto;
  object-fit: contain;
  object-position: bottom;
}

.main-block__content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.content__name {
  font-size: 30px;
  margin: 10px 0;
}

.content__title {
  font-size: 16px;
  text-align: center;
  color: #c5c9d6;
}

.button {
  border-radius: 0;
  font-size: 18px;
  text-align: center;
  border: 1px solid;
  width: 200px;
  height: 44px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  box-shadow: 2px 2px 5px gray;
}

.button-get-info {
  border-color: #21e6c1;
  background-color: #21e6c1;
  margin-top: 30px;
  color: #071e3d;
  width: 100%;
  height: 54px;
}

.srvices {
  height: 910px;
  background-color: green;
}

.portfolio {
  height: 655px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.arrow {
  height: 65px;
  width: 65px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.left {
  background-image: url('../img/arrow.png');
}

.right {
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
  background-image: url('../img/arrow.png');
}

.arrow:hover {
  box-shadow: 2px 2px 5px gray;
}


.pricing {
  height: 435px;
  overflow-x: hidden;
  display: flex;
  background: linear-gradient(to right top, #278ea5, #1f4287);
  color: white;
  padding: 20px 0;
  justify-content: center;
}

.pricing .container {
  padding: 20px 20px;
  position: relative;
}

.pricing__main-text {
  font-size: 28px;
  line-height: 40px;
}

.pricing__main-text:after {
  content: '*'
}

.pricing__comment {
  margin-top: 35px;
  font-size: 15px;
  line-height: 30px;
}

.pricing__comment:before {
  content: '* ';
}

@media (min-width: 768px) {
  .container {
    min-width: 720px;
    max-width: 945px;
  }

  .main-block {
    background-color: transparent;
  }

  #top-card {
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 665px;

  }

  .main-block__photo-container {
    order: 1;
    position: absolute;
    bottom: 0;
    right: -25%;
    width: 750px;
    height: 630px;
    padding-left: 0;
    background: url('../img/ellipse_blue.png') no-repeat center 250px;
    background-size: contain;
    z-index: -10;
    align-self: flex-end;
  }

  .main-block__content {
    padding: 200px 0;
    width: 55%;
  }

  .photo-container__main-photo {
    height: 630px;

    object-fit: contain;
  }

  .button-get-info {
    max-width: 320px;
    height: 68px;
    width: 100%;
    margin: 0;
  }

  .main-block__content {
    align-items: flex-start;
  }

  .content__name {
    font-size: 54px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .content__title {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .srvices {
    height: 890px;
  }

  .portfolio {
    height: 1040px;
  }

  .pricing .container {
    padding: 55px 0;
  }

  .pricing {
    height: auto;
    /*height: 365px;*/
  }

  .pricing__main-text {
    font-size: 45px;
    line-height: 60px;
  }

  .pricing__comment {
    font-size: 18px;
    line-height: 30px;
  }



}
@media (min-width: 1025px) {
  .container {
    min-width: 945px;
    max-width: 1170px;
  }

  .button-get-info {
    max-width: 270px;
    height: 58px;
  }

  .main-block__content {
    padding: 190px 0;
  }

  .content__name {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .content__title {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .pricing {
    padding: 80px 120px 110px;
  }

  .pricing__main-text {
    font-size: 45px;
  }

  .pricing__comment {
    margin-top: 35px;
    font-size: 14px;
  }
}

